{
  "all": true,
  "check-coverage": true,
  "extends": "@istanbuljs/nyc-config-typescript",
  "include": ["src/**/!(*.test.*).ts"],
  "reporter": ["html", "text-summary"],
  "report-dir": "coverage"
}
